
.demandCard{
  color:#8a4a20;
  border-radius: 10px;
  border:1px solid #8a4a204d;
  margin:0px 10px 10px 0px;
  padding:20px
}

.demandCard ul{
  padding: 0px 0px 0px 0px;
}
.demandCard li{
  list-style: none;
  font-size: 14px;
}

.demandCard li svg{
  margin-right: 10px;
  width: 20px;
}

.demandCard img{
  width: 13.5vw;
  transition: all 0.5s;
  border-radius: 20px;
}

.demandCard img:hover{
  width: 14vw;
  border-radius: 5px;
}

.demandCard .desc{
  font-size: 12px;
}

.demandCard .saveBtnWrap .btn{
  background-color: transparent;
  color: #8a4a20;
  border: 1px solid #8a4a20;
  transition: all 0.5s;
}

.demandCard .saveBtnWrap .btn:hover{
  background-color: #8a4a20;
  color: #fafafa;
}

.demandCard .removeBtnWrap .btn{
  background-color: red;
  color: #fafafa;
  border: 1px solid red;
  transition: all 0.5s;
}

.demandCard .removeBtnWrap .btn:hover{
  background-color: #fafafa;
  color: red;
}

.demandCard input{
  border: none;
  background-color: transparent;
  color: #8a4a20;
  padding: 0px;
}

.demandCard select{
  border:none;
  color: #8a4a20;
  background-color: transparent;
}

.demandCard .input-title{
  font-size: 18px;
}

.demandCard textarea{
  width: 90%;
}