@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
        url('./Montserrat-Thin.ttf');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: local('Montserrat-Light'),
        url('./Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'),
        url('./Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: local('Montserrat-Italic'),
        url('./Montserrat-Italic.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'),
        url('./Montserrat-Bold.ttf');
}

body{
  font-family: 'Montserrat';
}