.toast-wrap{
  background-color: #fff;
  font-family: 'Montserrat-Light';
  color:#8A4A20;
  width: 30vw;
  height: 8vw;
  position: fixed;
  top:5vh;
  left:35vw;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  z-index: 1000;
}
.toast-close{
  text-align: right;
  color:#8A4A20;
  transition: all 0.5s;
}
.toast-close:hover{
  cursor: pointer;
  color:#fafafa;
}