
.signUpInstitutionForm .logo{
  margin-top: 0px;
  margin-bottom: 5px;
  height: 50px;
}
.signUpInstitutionForm p{
  font-family: 'Montserrat-Regular';
  font-size: 12px;
  margin:0px;
  color: #8A4A20;
}
