
.instituicaoCard{
  color:#8a4a20;
  border-radius: 10px;
  border:1px solid #8a4a204d;
  margin:0px 10px 10px 0px;
  padding:20px
}

.instituicaoCard ul{
  padding: 0px 0px 0px 28px;
}
.instituicaoCard li{
  list-style: none;
  font-size: 14px;
}

.instituicaoCard li svg{
  margin-right: 10px;
  width: 20px;
}

.instituicaoCard img{
  width: 13.5vw;
  transition: all 0.5s;
  border-radius: 20px;
}

.instituicaoCard img:hover{
  width: 14vw;
  border-radius: 5px;
}

.instituicaoCard .desc{
  font-size: 12px;
}

.instituicaoCard .status{
  text-align: center;
  width: 22vw;
  padding: 0px 20px
}