body{
  overflow-x: hidden;
  min-height: 100vh;
}
input, textarea{
  font-size: 12px;
  padding:10px;
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #FFB380;
  margin: 5px 0px 0px 0px;
  transition: all 0.5s;
}
input[type=submit]{
  background-color: #8A4A20;
  color: #fafafa;
}
input:hover{
  height:45px
}
textarea{
  height: 100px;
}
textarea:hover{
  height: 105px;
}
textarea:focus, input:focus{
  outline: none;
}